<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Application{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}

    {% endblock %}
</div>

<div id="content">
    {% block content %}
        <h1>content</h1>
    {% endblock %}
</div>
</body>
</html>