{% extends "base.html.twig" %}

{% block content %}

    <input type="button" class="btn btn-danger" value="TEST~!!!">
    <ul>
        {% for key, category in categories %}
            <li>
                {{ dump(category.subelements) }}
                <font class="{{ category.subelements.font.attributes.class }}">{{ category.subelements.font.text }}</font>
                <ul>
                    {% for subkey, subcat in category.data %}
                        <li>
                            <a id="{{ subcat.attributes.id }}" href="{{ subcat.attributes.href }}" language="{{ subcat.attributes.language }}">
                                <font class="{{ subcat.subelements.font.attributes.class }}">{{ subcat.subelements.font.text }}</font>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}